@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* common style start */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
}

/* common style end */



/* header section start */
.banner {
    width: 1200px;
    height: 600px;
    background-color: #f1f1;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 20px 30px;
    background-position: bottom center;
    border-radius: 2%;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 175px;
}

.banner-sub {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 20px 240px;
}
/* discunt-section start */
.discunt-section {
    width: 500px;
    margin: auto;
}

.discunt-img img {
    width: 450px;
    padding: 30px 0px;
}

.discunt-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-top: 60px;
    text-transform: uppercase;
}

.discunt-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0px 5px 0px;
    text-transform: uppercase;
}

.discunt-cetegori {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 20;
    padding-bottom: 10px;
    text-transform: uppercase;
}
/* discunt-section end */
/* header section end */



/* main part start */
/* welcome part start */
.wellcome-part {
    width: 1200px;
    height: 600px;
    background-color: #f1f1;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 20px 30px;
    background-position: bottom center;
    border-radius: 2%;
}
.wellcome-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wellcome-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    margin-right: 60px;
    padding: 12px 0px 0px 100px;
}
.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 100px;
    padding: 5px 0px 0px 100px;
}
.btn-praimary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 25px 0px 0px 120px;
    background: #FF0000;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn-praimary a {
    color: #FFF;
}
.btn-praimary:hover {
    background: transparent;
}

.welcome-img {
    width: 50%;
    padding-top: 70px;
    padding-right: 100px;
}
/* welcome part end */



/* joinig section start */
.join {
    margin: 60px 30px;
    padding: 50px 0px;
    background-color: #FFE8E8;
    border-radius: 2%;
}

.join-main {
    text-align: center;

}

.join-title {
    color: #17111F;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 5px 0px;
}

span {
    color: #F00;
}

.btn-praimary2 {
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 30px;
    background: #FF0000;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-praimary2 a {
    color: #FFF;
}

.button {
    padding-top: 20px;
}
/* joinig section end */



/* comming section start */
.comming {
    margin: 60px 30px;
    padding: 50px 0px;
    border-radius: 2%;
}

.comming-main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.comming-item {
    /* padding-top: 50px; */
    /* margin-right: 120px; */
    width: 33.33%;
    /* padding: 111px 0px; */
    padding-top: 100px;
}

.comming-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.comming-title2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 8px 0px;
}

.comming-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* margin-right: 99px; */
}

.comming-imag {

    width: 33.33%;
}

.comming-last {

    width: 33.33%;
    padding-top: 160px;
}

.comming-imag {
    border: 10px solid red;
    border-radius: 50%;
    padding: 35px;
}

.commming-img-2 img:hover {
    border: 5px solid green;
    border-radius: 50%;
    padding: 0px;
}

.com-last-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50px;
}

.com-last-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 50px;
    padding: 5px 0px;
}

.comming-last-img {
    margin-left: 50px;

}
/* comming section end */



/* holiday part start */
.holiday {
    margin: 60px 30px;
    padding: 50px 0px;
}

.holiday-main {
    text-align: center;
}

.holiday-taitle {
    color: #070211;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
}

.holiday-main-taitle {
    color: #070211;
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    margin: 15px 0px;
}

.holiday-description {
    color: #11121F;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 10px 200px;
}
/* holiday part end */



/* holy image start */
#holiday-img {
    margin: 60px 30px;
    padding: 300px 0px 20px 0px;
    border-radius: 2%;
}

.holiday-pstiton {
    position: relative;
}

.image-main-con {
    position: absolute;
    /* top: -260px; */
    right: 295px;
    width: 250px;
    bottom: 381px;
    /* left: 10px; */
    right: 2px;
    width: 360px;
}

.holiday-woman {
    position: relative;
    height: 195px;
}

.holiday-persent {
    position: absolute;
    top: 70px;
    right: 294px;
    width: 250px;
}

.holiday-reac2 {
    position: relative;
    width: 100%;
    height: 100pxpx;
}

.holifay-grup75 {
    position: absolute;
    width: 250px;
    left: 40px;
    bottom: 56px;
    width: 35%;
}
/* holy image section end */



/* portfolio part start */
.portfolio-part {
    margin: 60px 30px;
    padding: 100px 0px;
}

.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-part-main {
    color: #070211;
    font-size: 46px;
    font-weight: 900;
    text-transform: capitalize;
    margin-right: 630px;
    padding: 10px 0px;
}

.portfolio-description {
    color: #11121F;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 400px;
}

.portfolio-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.portfolio-img-item {
    gap: 20px;
    display: flex;
    flex-flow: column;
}
.portfolio-img-item img:hover {
    border: 2px solid black;
    border-radius: 4%;
}
/* portfolio part end */



/* subscriber part start */
.subscriber {
    margin: 60px 30px;
    padding: 100px 0px;
    background-color: #FFE8E8;
    border-radius: 2%;
}

.subscriber-main {
    text-align: center;
}

.subscriber-title {
    margin: 20px 300px;
    color: #070211;
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscriber-description {
    margin: 10px 174px;
    color: #11121F;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.subscriber-btn {
    text-align: center;
    padding: 60px 0px 20px 0px;
}

input[type="text"] {
    background: #FFF;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0px 25px;
    border-radius: 25px 0px 0px 25px;
    font-size: 20px;
}

.btn-sub {
    position: relative;
    border-radius: 0px 25px 25px 0px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: #FF0000;
    color: #fff;
    left: -5px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;

}
/* subscriber part end */
/* main part end */



/* footer part start */
.footer-main {
    padding: 100px 0px;
    background-color: #070211;
}

.footer-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.fotter-des {
    padding: 12px 61px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

p.fotter-des img {
    width: 27px;
    padding: 20px 40px;
    margin: -27px;
}

.footer-description {
    width: 468px;
    margin-left: 86px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
}

.horaizontal {
    width: 1100px;
    margin: auto;
    padding: 22px 0px;
}

.footer-icon {
    text-align: center;
    padding: 40px 10px;
}

.footer-icon > img {
    width: 60px;
    padding: 0px 5px;
}

.footer-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-description {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.footer-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-right: 81px;
    background-color: #F00;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 10px 15px;
}
/* footer part end */

/* cmmends */

.commends{
    text-align: center;
    font-size: 18px;
    color: black;
    background:#FFE8E8 ;
    padding: 0px 10px;
}
